<!-- GET REQUEST MEANS USERS WANTS TO EDIT - SHOW EDIT FORM -->
{% if request.method == 'GET' %}
    <form action="" class="max-w-[400px]" hx-target="this" hx-swap="outerHTML">
        <div class="flex items-center justify-between w-full">
            <p class="text-xl font-bold text-primary">Passengers</p>
            <div class="flex justify-end w-full gap-2">
                <!-- 'Cancel' BTN USES HX-DELETE TO DIFFERENTIATE FROM OTHER REQUESTS IN VIEW + TEMPLATE -->
                <button hx-delete="/bookings/detail/edit/{{ booking.id }}"
                        class="w-[90px] px-4 py-2 rounded-full border-[1px] border-primary text-text cursor-pointer transition-all hover:bg-primary hover:text-white duration-300"
                        aria-label="Cancel changes">Cancel</button>
                <!-- 'Done' BTN USES HX-POST -->
                <button hx-post="/bookings/detail/edit/{{ booking.id }}"
                        hx-validate="true"
                        id="edit-passengers-submit"
                        class="w-[90px] px-4 py-2 rounded-full border-[1px] border-primary text-white bg-primary font-bold cursor-pointer transition-all duration-300 hover:bg-[#FB257F]"
                        aria-label="Confirm changes">Done</button>
            </div>
        </div>
        <ol class="list-decimal">
            <!-- RENDER PASSENGER NAMES WITH INPUTS -->
            {% for passenger in passengers %}
                <li class="grid grid-cols-2 gap-2">
                    <!-- FIRST NAME INPUT -->
                    <input class="bg-transparent border-primary border-x-0 border-t-0 border-b-[1px] col-span-1"
                           type="text"
                           name="first-{{ passenger.id }}"
                           id="first-{{ passenger.id }}"
                           value="{{ passenger.first }}"
                           aria-label="First name: {{ passenger.first }}"
                           pattern="^[^\s].*$"
                           required>
                    <!-- LAST NAME INPUT -->
                    <input class="bg-transparent border-primary border-x-0 border-t-0 border-b-[1px] col-span-1"
                           type="text"
                           name="last-{{ passenger.id }}"
                           id="last-{{ passenger.id }}"
                           value="{{ passenger.last }}"
                           aria-label="Last name: {{ passenger.last }}"
                           pattern="^[^\s].*$"
                           required>
                </li>
            {% endfor %}
        </ol>
    </form>
    <!-- 'POST' MEANS USER SAVED EDITS; 'DELETE' MEANS USERS CANCELLED EDITS -->
{% elif request.method == 'POST' or request.method == 'DELETE' %}
    <!-- HX-TARGET FOR SWAP -->
    <div hx-target="this" hx-swap="outerHTML" class="max-w-[400px]">
        <div class="flex items-center justify-between">
            <h3 class="text-xl font-bold text-primary">Passengers</h3>
            <!-- 'EDIT' BTN USES HX-GET -->
            <button class="rounded-full py-2 px-4 border-[1px] border-primary hover:bg-primary hover:text-white transition-all duration-300"
                    hx-get="/bookings/detail/edit/{{ booking.id }}"
                    aria-label="Edit passengers">Edit Passengers</button>
        </div>
        <!-- RENDER PASSENGER NAMES -->
        <ol class="list-decimal max-w-[400px]">
            {% for passenger in passengers %}
                <li class="py-2 list-inside">{{ passenger }}</li>
                <hr class="border-gray-200">
            {% endfor %}
        </ol>
    </div>
{% endif %}
