{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container px-5 mx-auto">
        <div class="w-1/3 mt-20">
            <h1 class="text-3xl font-bold text-primary">About this Project</h1>
            <hr class="my-4">
            <p class="mb-4">
                This Django web development project is a continuation of a UX Design project I completed during my Diploma with the UX Design Institute which goes through the full UX process from research all the way to prototyping and handover.
            </p>
           
            <p class="mb-4">
                The end result was a user-friendly flight booking flow which was informed by user research and prototyped to a medium fidelity in Figma.
            </p>
            <p>
                Revisiting the project a year later, I am now using it as a foundation to build upon and bring it from Figma prototype, to a fully functioning Django-based web application, combining my passions for user-centric design and web development to build a holistic solution.
            </p>
        </div>
    </div>
{% endblock content %}
