{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- TAILWIND CSS FRAMEWORK-->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- CUSTOMISE TAILWIND -->
        <script>
      tailwind.config = {
        theme: {
          screens: {
            sm: "640px",
            // => @media (min-width: 640px) { ... }

            md: "768px",
            // => @media (min-width: 768px) { ... }

            lg: "1024px",
            // => @media (min-width: 1024px) { ... }

            xl: "1280px",
            // => @media (min-width: 1280px) { ... }

            "2xl": "1280px",
            // => @media (min-width: 1536px) { ... }
          },
          extend: {
            colors: {
              primary: "#FF5C6B",
              text: "#404040",
            },
          },
        },
      };
        </script>
        <!-- FLOWBITE CSS FRAMEWORK -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
              rel="stylesheet" />
        <!-- FLATPICKR DATE PICKER -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css" />
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body class="flex flex-col min-h-full bg-gray-100">
        <header class="relative flex items-center w-full h-20 mx-auto bg-primary">
            <nav class="container flex items-center justify-between px-5 m-auto">
                <div class="flex gap-4">
                    <!-- HEADER LOGO -->
                    <div class="flex items-center w-20">
                        <a href="{% url 'home-page' %}">
                            <img src="/static/img/flyux-logo.png" alt="" height="" />
                        </a>
                    </div>
                    <!-- NAV ITEMS -->
                    <div class="items-center hidden sm:flex justify-self-center">
                        <ul class="flex">
                            <li>
                                <a href="#" class="px-4 text-white">Explore</a>
                            </li>
                            <li>
                                <a href="#" class="text-white px-4 border-x-[1px]">Explore</a>
                            </li>
                            <li>
                                <a href="#" class="px-4 text-white">Explore</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- SIGNUP LOGIN CTAs-->
                <div class="hidden sm:block">
                    <div class="hidden sm:flex">
                        {% if user.is_authenticated %}
                            <div class="flex">
                                <a href="#" class="text-white border-r-[1px] border-r-white pr-4">Welcome, <strong>{{ user.first_name }}</strong></a>
                                <a href="{% url 'logout' %}" class="pl-4 text-white">Logout</a>
                            </div>
                        {% else %}
                            <a href="{% url 'register' %}"
                               class="flex items-center h-10 px-6 text-white rounded-full py-auto">Signup</a>
                            <a href="{% url 'login' %}"
                               class="bg-primary py-auto px-6 border-[1px] border-white rounded-2xl h-10 flex items-center font-bold text-white">Login</a>
                        {% endif %}
                    </div>
                </div>
                <!-- MOBILE NAV -->
                <!-- HAMBURGER ICON -->
                <div class="sm:hidden">
                    <div class="flex flex-col items-center justify-between w-10 h-8 sm:hidden"
                         id="hamburger-menu">
                        <span class="block w-full h-0 px-2 py-0 border-2 border-white rounded-full"></span>
                        <span class="block w-full h-0 px-2 py-0 border-2 border-white rounded-full"></span>
                        <span class="block w-full h-0 px-2 py-0 border-2 border-white rounded-full"></span>
                    </div>
                </div>
            </nav>
            <!-- EXPANDED MENU ON CLICK -->
            <div class="hidden w-screen h-[30vh] bg-primary absolute top-full items-center justify-center flex"
                 id="hamburger-menu-expanded">
                <ul class="flex flex-col items-center gap-10 text-2xl">
                    <li>
                        <a href="#" class="px-4 text-white">Explore</a>
                    </li>
                    <li>
                        <a href="#" class="px-4 text-white">Explore</a>
                    </li>
                    <li>
                        <a href="#" class="px-4 text-white">Explore</a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- CONTENT BLOCK -->
        {% block content %}
        {% endblock content %}
        <!-- FOOTER -->
        <footer class="flex justify-center w-full h-20 mt-auto align-center bg-primary">
            <div class="container flex items-center justify-between w-full px-5">
                <div class="">
                    <p class="text-sm font-thin text-white">
                        A Django project by <span class="font-normal">Carl Murray</span>
                    </p>
                </div>
                <div class="flex items-center justify-between gap-6 pl-4">
                    <a href="https://carlmurray.design/" class="text-white">
                        <img src="{% static 'img/footer/footer-portfolio-icon.svg' %}"
                             alt="Portfolio icon" />
                    </a>
                    <a href="https://github.com/CarlMurray/flyUX-pp4" class="text-white">
                        <img src="{% static 'img/footer/footer-github-icon.svg' %}" alt="" />
                    </a>
                    <a href="https://www.linkedin.com/in/carljmurray/" class="text-white">
                        <img src="{% static 'img/footer/footer-linkedin-icon.svg' %}" alt="" />
                    </a>
                </div>
            </div>
        </footer>
        <script src="{% static 'js/base.js' %}"></script>
        <!-- FLOWBITE CSS FRAMEWORK -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
        <!-- HTMX -->
        {% block scripts %}
            <script src="https://unpkg.com/htmx.org@1.9.3"
                    integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
                    crossorigin="anonymous"></script>
        {% endblock scripts %}
    </body>
</html>
