{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <!-- HOTJAR -->
        <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3634958,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!-- MS CLARITY -->
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "in9mu9sy74");
        </script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Book a flight
            {% endblock title %}
            | flyUX
        </title>
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'img/favicon.ico' %}" />
        <!-- TAILWIND CSS FRAMEWORK-->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- CUSTOMISE TAILWIND -->
        <script>
      tailwind.config = {
        theme: {
          screens: {
            sm: "640px",
            // => @media (min-width: 640px) { ... }

            md: "768px",
            // => @media (min-width: 768px) { ... }

            lg: "1024px",
            // => @media (min-width: 1024px) { ... }

            xl: "1280px",
            // => @media (min-width: 1280px) { ... }

            "2xl": "1280px",
            // => @media (min-width: 1536px) { ... }
          },
          extend: {
            colors: {
              primary: "#E90464",
              text: "#404040",
            },
          },
        },
      };
        </script>
        <!-- FLOWBITE CSS FRAMEWORK -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
              rel="stylesheet" />
        <!-- FLATPICKR DATE PICKER -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css" />
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <!-- CUSTOM HTMX LOADING INDICATOR AND FLATPICKR STYLES-->
        <style>
            .my-indicator{
                display:none;
            }
            .htmx-request .my-indicator{
                display:flex;
            }
            .htmx-request.my-indicator{
                display:flex;
            }
            .flatpickr-mobile:before  {
                content: attr(placeholder);
                color: #9ca3af;
                width:100%;
              }
              .flatpickr-mobile:focus[value]:not([value=""]):before {
                display: none;
              }
              
              input[type="hidden"][value]:not([value=""]) + .flatpickr-mobile:before {
                display: none; 
              }
              
        </style>
    </head>
    <body class="flex flex-col min-h-full bg-gray-100">
        <header class="relative flex items-center w-full h-20 mx-auto bg-primary">
            <nav class="container flex items-center justify-between px-5 m-auto">
                <!-- HEADER LOGO -->
                <div class="flex items-center flex-1 w-20 basis-['250px']">
                    <a href="{% url 'home-page' %}" class="w-20">
                        <img src="{% static 'img/flyux-logo.png' %}"
                             alt="'flyUX' logo: A minimalist logo consisting of 'flyUX' text, using a modern sans-serif font, with a small illustrated airplane sweeping under the text to convey travel-inspired design." />
                    </a>
                </div>
                <!-- NAV ITEMS -->
                <div class="absolute items-center justify-center hidden -translate-x-1/2 left-1/2 md:flex">
                    <ul class="flex">
                        <li>
                            <a href="{% url 'home-page' %}" class="px-4 text-white">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'bookings' %}" class="px-4 text-white border-l-[1px]">Bookings</a>
                        </li>
                        <li>
                            <a href="{% url 'blog' %}" class="text-white px-4 border-x-[1px]">Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" class="px-4 text-white">About</a>
                        </li>
                    </ul>
                </div>
                <!-- SIGNUP LOGIN CTAs-->
                <div class="hidden md:flex shrink-0">
                    <div class="justify-end hidden sm:flex">
                        <!-- IF LOGGED IN SHOW USER NAME -->
                        {% if user.is_authenticated %}
                            <div class="flex">
                                <p class="text-white border-r-[1px] border-r-white pr-4">
                                    Welcome, <strong>{{ user.first_name }}</strong>
                                </p>
                                <a href="{% url 'logout' %}" class="pl-4 text-white">Logout</a>
                            </div>
                            <!-- IF NOT LOGGED IN ADD ?next URL -->
                        {% elif request.path == '/login/' or request.path == '/register/' %}
                            <a href="{% url 'register' %}?next={{ request.path }}"
                               class="flex items-center h-10 px-6 text-white rounded-full py-auto">Signup</a>
                            <a href="{% url 'login' %}?next={{ request.path }}"
                               class="bg-primary py-auto px-6 border-[1px] border-white rounded-full h-10 flex items-center font-bold text-white">Login</a>
                        {% else %}
                            <a href="{% url 'register' %}?next={{ request.get_full_path }}"
                               class="flex items-center h-10 px-6 text-white rounded-full py-auto">Signup</a>
                            <a href="{% url 'login' %}?next={{ request.get_full_path }}"
                               class="bg-primary py-auto px-6 border-[1px] border-white rounded-full h-10 flex items-center font-bold text-white">Login</a>
                        {% endif %}
                    </div>
                </div>
                <!-- MOBILE NAV -->
                <!-- HAMBURGER ICON -->
                <div class="md:hidden">
                    <div class="flex flex-col items-center justify-between w-10 h-8"
                         id="hamburger-menu">
                        <span class="block w-full h-0 px-2 py-0 border-2 border-white rounded-full"></span>
                        <span class="block w-full h-0 px-2 py-0 border-2 border-white rounded-full"></span>
                        <span class="block w-full h-0 px-2 py-0 border-2 border-white rounded-full"></span>
                    </div>
                </div>
            </nav>
            <!-- EXPANDED MENU ON CLICK -->
            <div class="absolute z-50 flex items-center justify-center w-screen overflow-hidden transition-all duration-500 ease-in-out bg-primary top-full max-h-0"
                 id="hamburger-menu-expanded">
                <ul id="hamburger-nav-links"
                    class="flex flex-col items-center gap-10 text-2xl">
                    <li>
                        {% if user.is_authenticated %}
                            <p class="text-white ">
                                Welcome, <strong>{{ user.first_name }}</strong>
                            </p>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="text-white ">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'register' %}?next={{ request.get_full_path }}"
                               class="px-4 text-white">Signup</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}?next={{ request.get_full_path }}"
                               class="px-4 text-white">Login</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'home-page' %}" class="px-4 text-white">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'bookings' %}" class="px-4 text-white">Bookings</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}" class="px-4 text-white">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}" class="px-4 text-white">About</a>
                    </li>
                </ul>
            </div>
        </header>
        {% if messages %}
            {% for message in messages %}
                <div class="relative" id="message-container">
                    <div class="container absolute px-5 mx-auto transition-all duration-500 -translate-y-[1000px] -translate-x-1/2 left-1/2 z-50"
                         id="message">
                        <div class="flex items-center p-3 my-3 text-sm border {% if message.tags == 'info' %} text-blue-800  border-blue-800 bg-blue-50 {% elif message.tags == 'success' %}text-green-800 border border-green-800 bg-green-50 {% elif message.tags == 'error' %}text-red-800 border-red-900 bg-red-50  {% endif %}rounded-lg "
                             role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 mr-3"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!-- CONTENT BLOCK -->
        {% block content %}
        {% endblock content %}
        <!-- FOOTER -->
        <footer class="flex justify-center w-full h-20 mt-auto align-center bg-primary">
            <div class="container flex items-center justify-between w-full px-5">
                <div class="">
                    <p class="text-sm font-thin text-white">
                        A Django project by <span class="font-normal">Carl Murray</span>
                    </p>
                </div>
                <div class="flex items-center justify-between gap-6 pl-4">
                    <a href="https://carlmurray.design/" class="text-white">
                        <img src="{% static 'img/footer/footer-portfolio-icon.svg' %}"
                             alt="Creator's personal logo: The letters 'C' and 'M' in a serif font encircled with a white background. Links to creator's portfolio site." />
                    </a>
                    <a href="https://github.com/CarlMurray/flyUX-pp4" class="text-white">
                        <img src="{% static 'img/footer/footer-github-icon.svg' %}"
                             alt="GitHub logo: The recognizable Octocat logo, representing GitHub, a code hosting platform. Links to creator's GitHub profile." />
                    </a>
                    <a href="https://www.linkedin.com/in/carljmurray/" class="text-white">
                        <img src="{% static 'img/footer/footer-linkedin-icon.svg' %}"
                             alt="LinkedIn logo: The letters 'I' and 'N' encircled with w white background. Links to creator's LinkedIn profile." />
                    </a>
                </div>
            </div>
        </footer>
        <script src="{% static 'js/base.js' %}"></script>
        <!-- FLOWBITE CSS FRAMEWORK -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
        <!-- HTMX -->
        {% block scripts %}
            <script src="https://unpkg.com/htmx.org@1.9.3"
                    integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
                    crossorigin="anonymous"></script>
            <script type="text/javascript">
                        window._mfq = window._mfq || [];
                        (function() {
                          var mf = document.createElement("script");
                          mf.type = "text/javascript"; mf.defer = true;
                          mf.src = "//cdn.mouseflow.com/projects/acc2e842-4cc1-4d9b-b73b-e31321f3db18.js";
                          document.getElementsByTagName("head")[0].appendChild(mf);
                        })();
            </script>
        {% endblock scripts %}
    </body>
</html>
