{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    View Booking
{% endblock title %}
{% block content %}
    <div id="container"
         class="container relative items-center h-full px-5 mx-auto my-12"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="flex items-center justify-between">
            <div>
                <p class="text-2xl font-bold sm:text-3xl text-primary">Booking</p>
                <p class="font-bold sm:text-xl text-md text-text">Reference: {{ booking.get_shorthand }}</p>
            </div>
            <button hx-swap=""
                    hx-confirm=""
                    hx-delete="/bookings/detail/{{ booking.id }}"
                    id="cancel-booking"
                    class="flex items-center h-12 p-3 text-center  border-[1px] rounded-full border-primary">
                Cancel Booking
            </button>
        </div>
        <hr class="my-2">
        <div class="mb-4">
            <p class="mb-2 font-bold text-md text-primary">Outbound</p>
            <div class="flex flex-col w-full p-8 bg-white shadow-lg md:flex-row ">
                <p class="font-bold">{{ booking.outbound_flight.origin }} to {{ booking.outbound_flight.destination }}</p>
                <div class="flex text-sm md:ml-auto">
                    <p class="">{{ booking.outbound_flight.outbound_date }}</p>
                    <p class="mx-2">&#x2022</p>
                    <p>{{ booking.outbound_flight.dep_time|time:'H:i' }} - {{ booking.outbound_flight.arr_time|time:'H:i' }}</p>
                    <p class="mx-2">&#x2022</p>
                    <p>{{ booking.outbound_flight.flight_number }}</p>
                </div>
            </div>
        </div>
        {% if booking.return_flight %}
            <div class="mb-4">
                <p class="mb-2 font-bold text-md text-primary">Return</p>
                <div class="flex flex-col w-full p-8 bg-white shadow-lg md:flex-row ">
                    <p class="font-bold">{{ booking.return_flight.origin }} to {{ booking.return_flight.destination }}</p>
                    <div class="flex text-sm md:ml-auto">
                        <p class="">{{ booking.return_flight.outbound_date }}</p>
                        <p class="mx-2">&#x2022</p>
                        <p>{{ booking.return_flight.dep_time|time:'H:i' }} - {{ booking.return_flight.arr_time|time:'H:i' }}</p>
                        <p class="mx-2">&#x2022</p>
                        <p>{{ booking.return_flight.flight_number }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div hx-target="this" hx-swap="outerHTML" class="max-w-[400px]">
            <div class="flex items-center justify-between">
                <p class="text-lg font-bold text-primary">Passengers</p>
                <button class="rounded-full py-2 px-4 border-[1px] border-primary"
                        hx-get="/bookings/detail/edit/{{ booking.id }}">Edit Passengers</button>
            </div>
            <ol class="list-decimal max-w-[400px]">
                {% for passenger in passengers %}
                    <li class="py-2 list-inside">{{ passenger }}</li>
                    <hr class="border-gray-200">
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/booking-edit.js' %}"></script>
{% endblock scripts %}
