{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Checkout
{% endblock title %}
{% block content %}
    <div class="container h-full px-5 pb-12 mx-auto mt-12">
        <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
            <div class="col-span-1 p-6 border-2 rounded-3xl">
                <!-- ORDER SUMMARY -->
                <h1 class="text-3xl font-light text-text">Order Summary</h1>
                <hr class="my-4">
                <!-- FLIGHT DETAILS -->
                {% for flight, fare, price in flights %}
                    <div>
                        <h2 class="text-lg font-bold text-text">{{ flight.origin }} - {{ flight.destination }}</h2>
                        <p>
                            {{ flight.outbound_date }} | {{ flight.dep_time }} |
                            {% if num_passengers == '1' %}
                                {{ num_passengers }} Passenger
                            {% else %}
                                {{ num_passengers }} Passengers
                            {% endif %}
                            | {{ flight.flight_number }}
                        </p>
                        <p>{{ num_passengers }}x {{ fare }} fare - €{{ price }}pp</p>
                    </div>
                    <hr class="my-4">
                {% endfor %}
                <!-- TOTAL PRICE -->
                <h3 class="text-xl font-bold text-primary">Total: €{{ total_price }}</h3>
            </div>
            <!-- PAYMENT DETAILS FORM -->
            <div class="col-span-1 p-6 bg-white shadow-lg rounded-3xl">
                <h2 class="mb-4 text-3xl font-bold text-primary ">Payment details</h2>
                <form method="post" class="grid grid-cols-2 gap-4">
                    {% csrf_token %}
                    <!-- CARD NAME -->
                    <input type="text"
                           name="card-name"
                           id="card-name"
                           class="hover:drop-shadow-md transition-all col-span-2 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0 flex-1"
                           placeholder="Name on card"
                           minlength="1"
                           maxlength="100"
                           aria-label="Name on card"
                           required>
                    <!-- CARD NUMBER -->
                    <input type="text"
                           name="card-number"
                           id="card-number"
                           class="hover:drop-shadow-md transition-all col-span-2 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0 flex-1"
                           placeholder="Card number"
                           minlength="20"
                           maxlength="20"
                           aria-label="Card number"
                           required>
                    <!-- CARD CVC -->
                    <input type="text"
                           name="card-cvc"
                           id="card-cvc"
                           class="hover:drop-shadow-md transition-all col-span-1 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0 flex-1"
                           placeholder="CVC"
                           minlength="3"
                           maxlength="3"
                           aria-label="Card CVC security code"
                           required>
                    <!-- CARD EXPIRY -->
                    <input type="text"
                           name="card-expiry"
                           id="card-expiry"
                           class="hover:drop-shadow-md transition-all col-span-1 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0 flex-1"
                           placeholder="Expiry"
                           minlength="7"
                           maxlength="9"
                           aria-label="Card expiry"
                           required>
                    <!-- PAY BUTTON -->
                    <button type="submit"
                            aria-label="Pay €{{ total_price }}"
                            class="cursor-pointer hover:scale-[103%] transition-all col-span-2 h-12 px-4 rounded-full  bg-primary text-white text-bold  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0 flex-1">
                        Pay €{{ total_price }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/payform.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock scripts %}
