{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- BODY BACKGROUND -->
    <div class="w-screen h-full bg-gray-100">
        <!-- OVERALL CONTAINER -->
        <div class="container relative h-full px-5 pt-16 mx-auto">
            <div class="mb-12">
                <h1 class="text-3xl font-bold text-center text-text">Book a flight</h1>
                <p class="text-lg text-center text-text">We can bring you anywhere!*</p>
                <p class="mt-6 text-xs text-center text-text">*almost</p>
            </div>
            <!-- OUTER CONTAINER FOR FORM -->
            <div class="container flex items-center h-auto p-8 mx-auto bg-white rounded-3xl drop-shadow-lg">
                <!-- FORM CONTRAINER -->
                <div class="container mx-auto">
                    <form action="{% url 'search-results' %}" method="get" autocomplete="off">
                        {% csrf_token %}
                        <!-- INNER FORM CONTAINER -->
                        <div class="">
                            <!-- RADIO INPUT CONTAINER -->
                            <div class="flex-auto col-span-4 mb-3">
                                <fieldset class="flex gap-6">
                                    <div class="flex items-center gap-2">
                                        <input type="radio"
                                               name="trip_type"
                                               id="return_trip_radio"
                                               value="return"
                                               class="w-5 h-5 border-gray-400 text-primary focus:outline-primary focus:bg-primary"
                                               checked>
                                        <label for="return_trip_radio" class="text-text">Return</label>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <input type="radio"
                                               name="trip_type"
                                               id="oneway_trip_radio"
                                               value="oneway"
                                               class="w-5 h-5 border-gray-400 text-primary focus:outline-primary focus:bg-primary">
                                        <label for="oneway_trip_radio" class="text-text">One-way</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="grid grid-cols-4 gap-3">
                                <div class="relative col-span-full sm:col-span-2 airport-input-container over">
                                    <input type="text"
                                           name="origin"
                                           id="origin"
                                           placeholder="Origin"
                                           class="z-40 relative w-full h-12 px-4 rounded-full border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-primary drop-shadow-sm">
                                    <div id="airports-list-origin"
                                         class="absolute z-30 hidden w-full p-4 pt-8 overflow-hidden bg-white border-2 top-1/2 rounded-b-3xl drop-shadow-md h-72">
                                        <div class="h-full overflow-auto">
                                            {% for airport in airports %}
                                                <div class="py-2 text-sm text-text airport-list-item">{{ airport }}</div>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="relative col-span-full sm:col-span-2">
                                    <input type="text"
                                           name="destination"
                                           id="destination"
                                           placeholder="Destination"
                                           class="z-20 relative w-full h-12 px-4 rounded-full border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-primary drop-shadow-sm">
                                    <div id="airports-list-destination"
                                         class="absolute z-10 hidden w-full p-4 pt-8 overflow-hidden bg-white border-2 top-1/2 rounded-b-3xl drop-shadow-md h-72">
                                        <div class="h-full overflow-auto">
                                            {% for airport in airports %}
                                                <div class="py-2 text-sm text-text airport-list-item">{{ airport }}</div>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- OUTBOUND DATE-->
                                <input type="text"
                                       name="outbound_date"
                                       id="flatpickr-date-outbound"
                                       class="flatpickr flatpickr-input active col-span-2 md:col-span-1 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-primary drop-shadow-sm"
                                       placeholder="Outbound Date"
                                       data-id="datetime"
                                       readonly="readonly">
                                <!-- RETURN DATE -->
                                <input type="text"
                                       name="return_date"
                                       id="flatpickr-date-return"
                                       class="flatpickr flatpickr-input active col-span-2 md:col-span-1 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-primary drop-shadow-sm"
                                       placeholder="Return Date"
                                       data-id="datetime"
                                       readonly="readonly">
                                {% comment %} <input type="text"
        name="passengers"
        id=""
        placeholder="Passengers"
        class="col-span-4 sm:col-span-2 md:col-span-1 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-primary drop-shadow-sm"> {% endcomment %}
                                <select name="passengers"
                                        id=""
                                        class="col-span-4 sm:col-span-2 md:col-span-1 h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-primary drop-shadow-sm">
                                    <option value="" selected disabled>Passengers</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                                <input type="submit"
                                       name="submit"
                                       id=""
                                       class="flex items-center justify-center h-12 col-span-4 px-6 font-bold text-center text-white rounded-full sm:col-span-2 md:col-span-1 bg-primary py-auto drop-shadow-sm">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/flight_search.js' %}"></script>
{% endblock scripts %}
