{% extends 'base/base.html' %}
{% block content %}
    <!-- BODY BACKGROUND -->
    <div class="w-screen h-full bg-gray-100">
    <!-- OVERALL CONTAINER -->
    <div class="container h-full pt-60 px-5 mx-auto">
        <!-- OUTER CONTAINER FOR FORM -->
        <div class="container border-4 p-12 mx-auto h-72 flex items-center">
            <!-- FORM CONTRAINER -->
            <div class="container border-2 mx-auto">
                <form>
                    <!-- INNER FORM CONTAINER -->
                    <div class="">
                        <!-- RADIO INPUT CONTAINER -->
                        <div class="col-span-4 flex-auto">
                            <fieldset class="flex gap-6 border-4">
                                <div class="flex items-center gap-2">
                                    <input type="radio"
                                           name="trip_type"
                                           id="return_trip_radio"
                                           class="text-rose-500 focus:outline-rose-500 focus:bg-rose-500">
                                    <label for="return_trip_radio">Return</label>
                                </div>
                                <div class="flex items-center gap-2">
                                    <input type="radio"
                                           name="trip_type"
                                           id="oneway_trip_radio"
                                           class="text-rose-500 focus:outline-rose-500 focus:bg-rose-500">
                                    <label for="oneway_trip_radio">One-way</label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="grid grid-cols-4 gap-3">
                            <input type="text"
                                   name="origin"
                                   id=""
                                   class="col-span-full sm:col-span-2 h-12 px-4 rounded-2xl  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-rose-500">
                            <input type="text"
                                   name="destination"
                                   id=""
                                   class="col-span-full sm:col-span-2 h-12 px-4 rounded-2xl  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-rose-500">
                            <input type="text"
                                   name="date_from"
                                   id=""
                                   class="col-span-2 sm:col-span-1 h-12 px-4 rounded-2xl  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-rose-500">
                            <input type="text"
                                   name="date_to"
                                   id=""
                                   class="col-span-2 sm:col-span-1 h-12 px-4 rounded-2xl  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-rose-500">
                            <input type="text"
                                   name="passengers"
                                   id=""
                                   class="col-span-4 sm:col-span-1 h-12 px-4 rounded-2xl  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-rose-500">
                            <input type="submit"
                                   name="submit"
                                   id=""
                                   class="col-span-4 sm:col-span-1 h-12 px-4 rounded-2xl  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:outline-0 focus:ring-0 focus:border-rose-500">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div></div>
{% endblock content %}
