{% extends 'base/base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="flex items-center w-screen m-auto mx-auto bg-gray-100">
        <div class="container flex justify-center px-5 mx-auto">
            <div class="container flex flex-col justify-center w-full max-w-xl p-6 mx-auto bg-white sm:p-12 rounded-3xl drop-shadow-lg">
                <!-- LOGIN HEADER -->
                <h1 class="mx-auto mb-6 text-3xl font-bold text-primary">Login</h1>
                <!-- FORM -->
                <form method='post' class="flex justify-center w-full mx-auto">
                    {% csrf_token %}
                    <!-- FORM FIELDS CONTAINER -->
                    <div class="flex flex-col w-full gap-4 sm:w-3/4">
                        <!-- EMAIL FIELD -->
                        <div class="flex flex-col">
                            {% comment %} <label for="id_email" class="">Email</label> {% endcomment %}
                            <input type="email"
                                   name="email"
                                   maxlength="254"
                                   required
                                   placeholder="Email"
                                   id="id_email"
                                   aria-label="Email address"
                                   class="h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0">
                        </div>
                        <!-- PASSWORD FIELD -->
                        <div class="flex flex-col">
                            {% comment %} <label for="id_password" class="">Password:</label> {% endcomment %}
                            <input type="password"
                                   name="password"
                                   maxlength="128"
                                   required
                                   placeholder="Password"
                                   id="id_password"
                                   aria-label="Password"
                                   class="h-12 px-4 rounded-full  border-gray-300 bg-white  focus:drop-shadow-md border-[1px] focus:border-primary focus:outline-0 focus:ring-0">
                        </div>
                        {% if request.GET.next %}
                            <!-- FOR REDIRECT AFTER LOGIN -->
                            <input type="hidden" name="next" value="{{ request.GET.urlencode }}">
                        {% endif %}
                        <button type="submit"
                                aria-label="Login"
                                class="flex items-center justify-center h-12 px-6 font-bold text-center text-white rounded-full bg-primary py-auto">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
